c.bat
compilesettings.bat
setup-sign.bat
Output
/ISHelp/ISHelpGen/ISHelpGen.exe
/ISHelp/Staging/Examples/MyProg.chm
/ISHelp/Staging/ISPP.chm
/Projects/ISCmplr.dsk
/Projects/ISCmplr_Icon.ico
/Projects/ISPP/Help/Staging/Examples/MyProg.chm
/Projects/ISPP/Help/Staging/ISetup.chm
/Projects/ISPP/Help/ispp_generated.xml
/Components/Components.dproj
/Components/Components.dproj.local
/Components/Components.dsk
/Components/Components.res
/Projects/Compil32_Icon.ico
/Projects/Compil32_Icon1.ico
/Projects/ISCC_Icon.ico
/Projects/ISCC_Icon1.ico
/Projects/ProjectGroup1.dsk
/Projects/ProjectGroup1.groupproj
/Projects/ProjectGroup1.groupproj.local
/Projects/*.tvsconfig
